Package: libactivator
Name: Activator
Version: 2.0.0
Architecture: iphoneos-arm
Description: Centralized gesture, button, and shortcut management for iOS
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: System
Depends: firmware (>= 15.0), mobilesubstrate
